.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
}
.top-header-title {
    display: flex;
    padding: 10px;
}
.top-header-navigation {
    display: flex;
    padding: 10px;
}
.top-header-navigation a {
    display: flex;
    padding: 0px 10px;
}
