div.transaction-details-transaction {
    display: inline-block;
    background-color: #FEFEFE;
    padding: 0.1em 0.15em 0.0em 0.0em;
    color: #00008B;
    font-family: monospace;
}
div.transaction-details-transaction:hover {
    display: inline-block;
    background-color: #f2f2ff;
    color: #1434B4;
}

div.transaction-details-transaction-name {
    display: inline-block;
    vertical-align: top;
    padding-top: 0.1em;
}

.transaction-details-transaction-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
}