div.tx-container {
    background-color: #f0f0f0;
    border: 1px solid #d0d0d0;
    padding: 10px;
    margin: 5px;
    width: auto;
    height: 100px;
    position: relative;
}

div.tx-id {
    left: 0px;
    top: 0px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}

div.chain-id {
    left: 100px;
    top: 0px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}


div.tx-created {
    left: 0px;
    top: 20px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}
div.tx-broadcast {
    left: 100px;
    top: 20px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}
div.tx-confirmed {
    left: 200px;
    top: 20px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}
div.tx-from {
    left: 0px;
    top: 90px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}
div.tx-to {
    left: 240px;
    top: 90px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}
div.tx-method {
    left: 240px;
    top: 100px;
    position: absolute;
    font-size: 10px;
}
div.tx-nonce {
    left: 0px;
    top: 100px;
    position: absolute;
    font-size: 10px;
}
div.tx-gas-limit {
    left: 70px;
    top: 100px;
    position: absolute;
    font-size: 10px;
}
div.tx-fee {
    left: 140px;
    top: 100px;
    position: absolute;
    font-size: 10px;
}

div.tx-hash {
    left: 0px;
    top: 75px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}

div.tx-error {
    color: red;
    bottom: 0px;
    position: absolute;
    font-size: 10px;
    font-weight: bold;
}



