div.tx-container-wrapper {
    font-size: 12px;
    position: relative;
    height: 14em;
}

div.tx-transfers {
    width: auto;
    height: 12em;
    width: 40em;
    position: absolute;
    font-size: 1em;
    left: 42em;
}

div.tx-container {

    height: 12em;
    width: 42em;
    position: absolute;
    font-size: 1em;
}

div.tx-id {
    left: 0em;
    top: 0em;
    position: absolute;
    font-size: 1.0em;
    font-weight: bold;
}

div.chain-id {
    left: 10em;
    top: 0em;
    position: absolute;
    font-size: 1.0em;
    font-weight: bold;
}


div.tx-created {
    left: 0em;
    top: 2em;
    position: absolute;
}
div.tx-broadcast {
    left: 10em;
    top: 2em;
    position: absolute;
}
div.tx-confirmed {
    left: 20em;
    top: 2em;
    position: absolute;
}
div.tx-from {
    left: 0em;
    top: 8em;
    position: absolute;
    font-size: 1em;
}
div.tx-from span {
    font-weight: bold;
}

div.tx-to {
    left: 24em;
    top: 8em;
    position: absolute;
    font-size: 1em;
    font-weight: bold;
}
div.tx-method {
    left: 20em;
    top: 0em;
    position: absolute;
    font-size: 1em;
}
div.tx-nonce {
    left: 0em;
    top: 10em;
    position: absolute;
    font-size: 1em;
}
div.tx-gas-limit {
    left: 7em;
    top: 10em;
    position: absolute;
    font-size: 1em;
}
div.tx-fee {
    left: 15em;
    top: 10em;
    position: absolute;
    font-size: 1em;
}

div.tx-hash {
    left: 0em;
    top: 6em;
    position: absolute;
    font-size: 1em;
    font-weight: bold;
}

div.tx-error {
    color: red;
    bottom: 0em;
    position: absolute;
    font-size: 1em;
    font-weight: bold;
}



